{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<body class="bg-primary text-primary">
<div class="container py-5">
    <!-- Basic text -->
      <div class="row mb-4">
        <div class="col-12">
            <div class="card bg-secondary text-light text-center">
                <div class="card-body">
                    <h3 class="mb-0">Characters In The Battle:</h3>
                </div>
            </div>
        </div>
    </div>


    <!-- Displays each character -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    {% for c in game.characters %}
    <div class="col">
        <div class="card h-100 shadow-sm rounded border-secondary bg-secondary text-light d-flex justify-content-center align-items-center">
            <div class="card-body p-4 text-center">
                <h2>{{ c.name }}</h2>
                <!-- Add more character details here if needed -->
            </div>

            {% if c.image %}
            <img src="{{ url_for('static', filename=c.image.replace('\\', '/')) }}"
                 alt="{{ c.name }}"
                 class="img-fluid mb-3"
                 style="max-height: 150px;">
            {% endif %}



        </div>
    </div>
    {% endfor %}
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card bg-secondary text-light">
                <div class="card-body">
                    <div class="col text-center">
                    {{ render_form(form, novalidate=True, button_map={"submit": "tertiary mt-2"}) }}
                        </div>
                </div>
            </div>
        </div>
    </div>


        <!-- Round Number Display -->
      <div class="row mb-4">
        <div class="col-12">
            <div class="card bg-secondary text-light text-center">
                <div class="card-body">
                    <h3 class="mb-0">Round {{ game.round_number }}</h3>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>