{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<body>
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    {% for c in characters %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">
                    {{ c.name }}
                </h5>
            </div>
            <div class="card-body">
                <!-- Add more character details here if needed -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>