{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<body class="bg-primary text-primary">
    <div class="container py-5">
            <!-- Basic text -->
      <div class="row mb-4">
        <div class="col-12">
            <div class="card bg-secondary text-light text-center">
                <div class="card-body">
                    <h3 class="mb-0">The Winner is ...</h3>
                </div>
            </div>
        </div>
    </div>



        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm rounded border-secondary bg-secondary text-light">
                    <div class="card-body p-4 text-center">
                        {% if winner %}
                        <h2 class="card-title">{{ winner.name }}</h2>
                        {% if c.image %}
            <img src="{{ url_for('static', filename=winner.image.replace('\\', '/')) }}"
                 alt="{{ winner..name }}"
                 class="img-fluid mb-3"
                 style="max-height: 150px;">
            {% endif %}
                        {% else %}
                        <h2 class="card-title">No Winner</h2>
                        <p>Everybody died, nobody won!</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

            <!-- Add the "Start Simulation" button -->
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{{ url_for('reset') }}" class="btn btn-lg btn-secondary mt-3 btn-block">Play Again</a> <!-- Use primary button style -->
        </div>
    </div>
</div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>